
#card {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    box-shadow: #6464645d -7px 7px 29px 0;
    text-align:left;
    max-width: 350px;
    margin: auto;
    font-size: x-large;
    padding: 120px;
    border-radius: 2%;
    margin-top: 50px;
}
input{
    font-size: 20px;
}
